body {
    background-color: rgb(93, 23, 103);
}
img {
    width: 10%;
    height: 20%;
    border-radius: 50%;
    margin: 10px;
}

.profile {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 50px 50px;
}
h1 {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 30px;
    margin-top: 80px;
}
.social-icons {
    margin-top: 5px;
    margin: 50px 50px;
}
.social-icons a {
    color: white;
    font-size: 30px;
    margin: 0 10px;
}
nav a{
    color: white;
}
